@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 45 130 104;
  --color-primary-hover: 46 104 83;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .focus-ring {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary-500 focus-visible:ring-offset-2 rounded-md;
  }
}
